.hidden {
  display: none;
}

.search-results {
  display: block;
}

@media (min-width: 1024px) {
  .search-results {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
  }
}